:root {
  --large-text-color: #34313D;
  --text-color: #9E9AA8;
  --button-blue: #2BD0D0;
  --error-color: #F46363;
  --body-bg: #eff1f7;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Poppins", "Arial", "sans-serif";
  background-color: #fff;
  color: #222;
}
img {
  max-width: 100%;
  height: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}


/* CONTAINER */
.container {
  max-width: 1008px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* site header  */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  font-weight: bold;
  line-height: normal;
}
.site-header-container {
  display: flex;
  align-items: center;
}
.site-header__logo {
  margin-right: 45px;
}
.site-header__logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 30px;
}
.sitenav__link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
.sitenav__link:hover {
  color: var(--large-text-color);
}

.site-header__auth {
  display: inline-block;
  margin-left: auto;
}
.site-header__login-link {
  font-size: 15px;
  margin-right: 48px;
  text-decoration: none;
  color: var(--text-color);
  background-color: #fff;
  transition: opacity 0.3s ease;
}
.site-header__login-link:hover {
  opacity: 0.8;
}
.button {
  text-decoration: none;
  color: #fff;
  background-color: var(--button-blue);
  padding: 14px 40px 12px;
  width: 105px;
  height: 40px;
  font-size: 20px;
  border-radius: 28px;
  transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}
.button-small {
  padding: 10px 24px;
  font-size: 15px;
  line-height: 22.5px;
}
.button-big {
  font-size: 20px;
  line-height: normal;
}
.button-big-square {
  border: none;
  width: 188px;
  height: 64px;
  border-radius: 10px;
}
.button-rengtengle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  font-size: 15px;
  height: 40px;
  line-height: normal;
  font-weight: bold;
  border-radius: 8px;
  border: 0;
}
.url-shortener__copy-button {
  min-width: 103px;
}
.url-shortener__copy-button-copied {
  background-color: #3A3054;
}
/* hero */
.hero {
  background-image: url(../img/working_with_computer.svg);
  background-repeat: no-repeat;
  padding-top: 92px;
  padding-bottom: 300px;
  background-position: left calc(50% + 476px) top 30px;
}

.hero-inner {
  margin: 0;
  padding: 0;
  max-width: 578px;
}
.hero__title {
  margin: 0;
  padding: 0;
  font-size: 78px;
  line-height: 85px;
}
.hero__text {
  font-size: 22px;
  color: var(--text-color);
  line-height: 36px;
  letter-spacing: 0.15px;
  margin-bottom: 50px;
}
/* amin content */
/* index-url-shortener-features-wrapper */
.index-url-shortener-features-wrapper {
  background-color: var(--body-bg);
}
.index-url-shortener-features-wrapper__url-shortener {
  margin-top: -84px;
}

.index-url-shortener-features-wrapper__url-shortener {
  margin-bottom: 120px;
  margin-top: -84px;

}

.url-shortener__form {
  display: flex;
  transform: translateY(-80px);
  align-items: center;
  margin-bottom: 24px;
  background-color: #4B3F6B;
  border-radius: 10px;
  background-image: url(../img/Path\ 2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 64px;
}
.url-shortener__input-wrapper {
  display: flex;
  position: relative;
  background-color: #4B3F6B;
  margin-right: 24px;
  border-radius: 10px;
  flex-grow: 1;
}


.url-shortener__input {
  width: 100%;
  max-width: 719px;
  padding: 14px 32px;
  border: 3px solid transparent;
  height: 34px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 36px;
}
.url-shortener__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
  color: rgba(244, 99, 99, 0.8);
}
.url-shortener__error-msg {
  display: none;
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid ~ .url-shortener__error-msg {
  display: block;
  position: absolute;
  font-weight: 500;
  font-style: italic;
  left: 0;
  top: calc(100% + 8px);
  font-size: 16px;
  line-height: 18px;
  color: var(--error-color);
  letter-spacing: 0.11px;
}
/* ult-shortener__results */
.url-shortener__resaultes {
  display: none;
}
.url-shortener__resaultes--open {
  display: block;
  margin-top: -80px;
}
.url-shortener__result {
  display: flex;
  border-radius: 5px;
  align-items: center;
  padding: 16px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  background-color: #fff;
  color: var(--large-text-color);
}
.url-shortener__result:not(:last-child) {
  margin-bottom: 16px;
}
.url-shortener__original-link {
  width: 100%;
  margin-right: 24px;
  white-space: nowrap;
}
.url-shortener__short-link {
  font-size: 20px;
  line-height: 36px;
  margin-right: 20px;
  text-decoration: none;
  color: var(--button-blue);
}


/* index-features */
.index-features {
  padding-top: 50px;
  margin-top: -120px;
  padding-bottom: 120px;
  background-color: var(--body-bg);
}
.index-features__top {
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  text-align: center;
  margin-bottom: 100px;
}
.index-features__title {
  margin-bottom: 18px;
  font-size: 40px;
  line-height: 48px;
  color: var(--large-text-color);
}
.index-features__text {
  margin: 0;
  color: var(--text-color);
  text-align: center;
  width: 540px;
  font-size: 18px;
  line-height: 32px;
}


.index-features__list {
  position: relative;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}
.index-features__list::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 172px;
  height: 8px;
  background-color: var(--button-blue);
  content: "";
}
.index-features__item:not(:last-child) {
  margin-right: 30px;
}
.index-features__item {
  width: 350px;
  position: relative;
}
.index-features__item:nth-child(2) {
  margin-top: 44px;
}
.index-features__item:nth-child(3) {
  margin-top: 88px;
}
.index-feature {
  padding: 77px 32px 40px 32px;
  border-radius: 5px;
  background-color: #fff;
}
.index-feature__icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  position: absolute;
  background-color: #34313D;
  width: 88px;
  left: 30px;
  top: -50px;
  height: 88px;
}
.index-feature__title {
  margin-top: 0;
  font-size: 22px;
  line-height: normal;
  color: var(--large-text-color);
}
.index-feature__info {
  font-size: 15px;
  line-height: 26px;
  color: var(--text-color);
}
