:root {
  --large-text-color: #34313D;
  --text-color: #9E9AA8;
  --button-blue: #2BD0D0;
  --error-color: #F46363;
  --body-bg: #979797;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Poppins", "Arial", "sans-serif";
  background-color: #fff;
  color: #222;
}
img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  max-width: 1008px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* site header  */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  font-weight: bold;
  line-height: normal;
}
.site-header-container {
  display: flex;
  align-items: center;
}
.site-header__logo {
  margin-right: 45px;
}
.site-header__logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 30px;
}
.sitenav__link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
.sitenav__link:hover {
  color: var(--large-text-color);
}

.site-header__auth {
  display: inline-block;
  margin-left: auto;
}
.site-header__login-link {
  font-size: 15px;
  margin-right: 48px;
  text-decoration: none;
  color: var(--text-color);
  background-color: #fff;
  transition: opacity 0.3s ease;
}
.site-header__login-link:hover {
  opacity: 0.8;
}
.button {
  text-decoration: none;
  color: #fff;
  background-color: var(--button-blue);
  padding: 14px 40px 12px;
  width: 105px;
  height: 40px;
  font-size: 20px;
  border-radius: 28px;
  transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}
.button-small {
  padding: 10px 24px;
  font-size: 15px;
  line-height: 22.5px;
}
.button-big {
  font-size: 20px;
  line-height: normal;
}

/* hero */
.hero {
  background-image: url(../img/working_with_computer.svg);
  background-repeat: no-repeat;
  padding-top: 92px;
  padding-bottom: 222px;
  background-position: left calc(50% + 476px) top 30px;
}

.hero-inner {
  margin: 0;
  padding: 0;
  max-width: 578px;
}
.hero__title {
  font-size: 78px;
  line-height: 85px;
}
.hero__text {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  margin-bottom: 50px;
}
